@import url(site_global.css);
body {
font-size:12px;
font-style:normal;
color:#333;
height:100%;
width:100%;
background:#e8e8e8 url(../image/body_bg.jpg) repeat left top
}

.pcontainer {
height:100%;
width:1004px;
margin:0 auto
}

#pheader {
height:220px;
width:100%;
display:block
}

#xlogo {
z-index:5;
position:absolute;
top:15px;
left:20px;
width:130px;
height:120px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat 0 0
}

#xlogo .alogo {
width:100%;
height:100%;
display:block;
text-indent:-999px
}

#xlocation {
height:60px;
width:185px;
overflow:hidden;
position:absolute;
top:73px;
left:160px;
cursor:pointer;
font-size:14px;
color:#3d8603;
line-height:50px;
font-weight:bold;
text-align:center;
background:transparent url(../image/full_bgr_2.png) no-repeat -298px -109px
}

#xlocation .xlocation-name {
padding-right:40px;
display:block
}

#xCustomer_care {
position:absolute;
left:160px;
top:15px;
height:53px;
width:225px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat -297px -41px
}

#xCustomer_care .xHotline {
color:green;
font-size:20px;
font-weight:bold;
padding-left:48px;
padding-top:24px
}

#xSearchbox {
position:absolute;
left:356px;
top:73px;
width:650px;
height:65px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat -28px -194px
}

.xSearchWrap {
padding:8px 10px 10px 14px;
height:35px;
position:relative
}

.xSearchWrap input {
border:medium none;
width:550px;
height:25px;
position:absolute;
top:12px;
left:15px
}

#btn_nav_search {
width:65px;
height:35px;
display:block;
position:absolute;
right:8px;
top:8px
}

#btn_nav_search:hover {
background:transparent url(../image/full_bgr_2.png) no-repeat -605px -154px
}

#xLogin,#xRequiredNewPlace,#xCheckCard {
position:absolute;
top:0;
right:0;
width:192px;
height:35px;
background:transparent url(../image/full_bgr_2.png) no-repeat -508px 0
}

#xRequiredNewPlace {
right:195px
}

#xCheckCard {
right:390px
}

#btn_nav_login,#btn_nav_required_new_place,#btn_nav_check_card {
text-transform:uppercase;
width:100%;
height:100%;
line-height:25px;
text-align:center;
font-weight:bold;
font-size:13px;
display:block;
color:#fff
}

#btn_nav_login:hover,#btn_nav_required_new_place:hover,#btn_nav_check_card:hover {
background:transparent url(../image/full_bgr_2.png) no-repeat -313px 0
}

#xLogout {
z-index:999;
position:absolute;
top:0;
right:0;
width:192px;
height:35px;
background:transparent url(../image/full_bgr_2.png) no-repeat -313px 0
}

.nav_user_title {
position:relative
}

.nav_user_title:hover ul.nav_ul_user_list {
display:block
}

.nav_user_title a.nav_user_name {
background:transparent url(../image/user.png) no-repeat 15px center;
display:block;
color:#fff;
height:100%;
line-height:25px;
text-align:center;
padding-left:40px
}

.nav_user_title a.nav_user_name span {
font-size:13px;
font-weight:bold
}

ul.nav_ul_user_list {
position:absolute;
top:25px;
left:7px;
background:none repeat scroll 0 0 #fff;
border-radius:5px 5px 5px 5px;
box-shadow:0 2px 5px #000;
display:none;
margin:0 auto;
padding:5px;
width:90%
}

ul.nav_ul_user_list li {
display:block;
padding:5px 5px 5px 10px
}

ul.nav_ul_user_list li a {
display:block
}

ul.nav_ul_user_list li:hover {
background:#f5f5f5
}

ul.nav_ul_user_list li:hover a {
text-decoration:underline;
color:green;
background:#f5f5f5
}

ul.nav_ul_user_list a span {
color:#d21001;
padding-left:5px
}

ul.nav_ul_user_list li.none-link {
margin:0 0 5px 0;
color:green;
font-weight:bold;
text-align:left;
border-bottom:dashed 1px #000800;
text-transform:uppercase
}

ul.nav_ul_user_list li.none-link:hover {
background:none
}

ul.nav_ul_user_list li.line {
border-top:dashed 1px #000800;
margin:5px 0 0 0
}

.xform-title h1 {
color:#4da511;
display:block;
font-weight:bold;
text-transform:uppercase;
padding:0 0 8px;
width:100%;
font-size:18px;
border-bottom:1px dashed #080
}

.xform-logo {
width:345px;
float:left;
height:210px
}

.xform-logo .xform-logo-img {
margin:45px;
width:130px;
height:120px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat 0 0
}

.xform-card-number {
width:509px;
height:323px;
float:left
}

.xform-card-number .xform-card-number-img {
margin:15px 0;
width:100%;
height:100%;
display:block;
background:transparent url(../image/xcardnumber.png) no-repeat 0 0
}

.xform-form {
float:right;
width:470px;
display:block;
margin:15px 0;
font-size:13px;
font-weight:bold
}

.xform-form .title {
padding:5px 0 5px 0
}

.xform-form .line {
border-bottom:1px dashed green;
line-height:30px
}

.xform-form .title .required {
color:red;
font-weight:normal;
padding:0 5px
}

.xform-form .title .cinfo {
color:green;
text-transform:uppercase
}

.xform-form .title .expired {
background:#ff0;
margin-left:10px;
padding:0 10px
}

.xform-form .xform-input input {
width:450px;
font-size:16px;
height:30px;
padding:5px;
border-radius:5px
}

.xform-form .xform-input select {
width:463px;
font-size:16px;
height:42px;
padding:7px;
border-radius:5px
}

.xform-form .xform-input select option {
padding-left:10px
}

.xform-form .xform-input .img_captcha {
margin:0 5px;
vertical-align:bottom
}

.xform-form .xform-input textarea {
padding:5px;
border-radius:5px;
width:450px
}

.xform-form .title span.error,.xform-form .xform-input span.error {
color:red;
font-size:11px;
font-weight:normal
}

.xform-form .xform-input select.error,.xform-form .xform-input input.error {
background-color:#fff2f2
}

.xform-form .xform-btn {
margin:10px 0 0 0
}

.xform-form .xform-btn a.btn {
margin-right:5px;
display:inline-block;
color:#fff;
text-align:center;
font-size:13px;
font-weight:bold;
background:#a21603;
border-radius:5px;
padding:10px
}

.xform-form .xform-btn a.btn:hover {
background:#349220
}

.xform_container {
margin-bottom:50px
}

.xform_container .form_loading {
position:absolute;
left:0;
top:0;
display:block;
width:100%;
height:100%;
background:rgba(255,255,255,.7) url( "../image/loading.gif ") no-repeat center center;
display:none
}

.xform_container .form_message {
line-height:25px;
padding:10px;
color:#fff;
display:none;
font-weight:bold;
font-size:12px;
margin:10px 0 0
}

.xform_container .form_sucess {
background:#428e0f
}

.xform_container .form_error {
background:#ff7979
}

.modal-form-message {
line-height:25px
}

.modal-form-message .modal-form-message-title {
display:block;
color:green;
text-transform:uppercase;
font-size:15px;
padding:5px 0;
font-weight:700;
border-bottom:dashed 1px green
}

.modal-form-message .modal-form-message-content {
font-size:15px
}

.modal-form-message .form_sucess {
color:green
}

.modal-form-message .form_error {
color:red
}

.xform-title .pop-form-mess {
display:none;
background:#ff7979;
color:#fff;
font-weight:bold;
height:100%;
line-height:30px;
padding:0 5px;
position:absolute;
right:0;
top:-7px;
width:490px
}

.xform-title .pop-mess-success {
background:#428e0f
}

.xform-title .pop-mess-error {
background:#ff7979
}

.xform-description {
margin:5px 0;
line-height:25px;
font-size:12px
}

.xform-description .special {
padding:10px 5px 10px 50px;
background:transparent url(../image/ct_icon_place.png) no-repeat left center;
border-bottom:dashed 1px green
}

.xform-description .special a {
color:green;
font-weight:700;
text-decoration:underline;
text-transform:uppercase
}

#menu_nav {

left:0;
bottom:0;
height:80px;
width:100%;
display:block
}

.menu_nav_wap1 {
background:transparent url(../image/bgmn_l.png) no-repeat left top;
display:block;
height:100%;
width:100%
}

.menu_nav_wap2 {
background:transparent url(../image/bgmn_r.png) no-repeat right top;
display:block;
height:100%;
width:100%
}

.menu_nav_wap3 {
background:transparent url(../image/bgmn_m.png) repeat-x right top;
display:block;
height:61px;
width:98%;
margin:0 auto
}

.ul_nav_menu {
display:block;
width:100%;
height:100%
}

.ul_nav_menu li.mnnav {
float:left;
padding:0 2px 0 0;
line-height:61px;
background:transparent url(../image/bgmn_sparate.png) no-repeat right top
}

.ul_nav_menu li.mnnav a {
font-weight:bold;
font-size:14px;
color:#fff;
text-transform:uppercase;
display:block;
padding:0 30px
}

.ul_nav_menu li.mnnav a:hover,.ul_nav_menu li.active a {
background:transparent url(../image/bgmn_m_hover.png) repeat-x left center
}

ul.ul-all-places {
z-index:999;
padding:5px 0;
box-shadow:0 2px 5px #000;
position:absolute;
left:0;
top:59px;
width:845px;
display:none;
background:#fff;
border:solid 1px #bdbdbd;
border-top:medium none
}

ul.ul-all-places li {
float:left;
display:block;
height:25px;
line-height:25px;
border-bottom:solid 1px #f4f4f4;
width:260px;
padding:3px;
margin-right:10px
}

ul.ul-all-places .sname {
vertical-align:top;
line-height:25px;
display:block;
font-size:11px
}

ul.ul-all-places li.submn a {
display:block;
height:100%;
color:#333
}

.ul_nav_menu li.active ul.ul-all-places li a {
background:none
}

li.active ul.ul-all-places li.submn a:hover {
text-decoration:underline;
color:green
}

#menu_nav li.mnnav:hover ul.ul-all-places {
display:block
}

ul.ul-all-reg {
width:202px
}

ul.ul-all-reg li {
width:195px
}

.csmall-1 {
background:transparent url(../image/cate_icon/24/mui_1.png) no-repeat 2px center
}

.csmall-2 {
background:transparent url(../image/cate_icon/24/mui_2.png) no-repeat 2px center
}

.csmall-3 {
background:transparent url(../image/cate_icon/24/mui_3.png) no-repeat 2px center
}

.csmall-4 {
background:transparent url(../image/cate_icon/24/mui_4.png) no-repeat 2px center
}

.csmall-5 {
background:transparent url(../image/cate_icon/24/mui_5.png) no-repeat 2px center
}

.csmall-6 {
background:transparent url(../image/cate_icon/24/mui_6.png) no-repeat 2px center
}

.csmall-7 {
background:transparent url(../image/cate_icon/24/mui_7.png) no-repeat 2px center
}

.csmall-8 {
background:transparent url(../image/cate_icon/24/mui_8.png) no-repeat 2px center
}

.pCateMetroUI {
margin:10px 0;
width:100%;
display:block
}

.pCateMetroUI .metroui {
position:relative;
display:block;
height:182px;
float:left;
margin:1px;
cursor:pointer;
overflow:hidden
}

.pCateMetroUI .metroui img {
position:absolute;
top:0;
left:0;
display:block;
height:182px
}

.pCateMetroUI .ui-title-1,.pCateMetroUI .ui-title-1 img {
width:310px
}

.pCateMetroUI .ui-title-2,.pCateMetroUI .ui-title-2 img {
width:311px
}

.pCateMetroUI .ui-title-3,.pCateMetroUI .ui-title-3 img {
width:187px
}

.pCateMetroUI .ui-title-4,.pCateMetroUI .ui-title-4 img {
width:187px
}

.pCateMetroUI .ui-title-5,.pCateMetroUI .ui-title-5 img {
width:182px
}

.pCateMetroUI .ui-title-6,.pCateMetroUI .ui-title-6 img {
width:183px
}

.pCateMetroUI .ui-title-7,.pCateMetroUI .ui-title-7 img {
width:315px
}

.pCateMetroUI .ui-title-8,.pCateMetroUI .ui-title-8 img {
width:315px
}

.pCateMetroUI .ui-link {
display:block;
color:#fff;
font-size:15px;
text-align:center;
vertical-align:bottom;
height:100%;
position:relative
}

.pCateMetroUI .ui-link:hover {
text-decoration:underline
}

.pCateMetroUI .ui-link h2 {
position:absolute;
bottom:5px;
width:100%;
font-size:15px
}

.pCateMetroUI .total-place {
position:absolute;
right:10px;
top:5px;
color:#fff;
font-size:15px;
font-weight:bold
}

.pCateMetroUI .smetroui {
position:relative;
display:block;
height:90px;
float:left;
margin:1px;
cursor:pointer;
overflow:hidden
}

.pCateMetroUI .s-ui-title-1,.pCateMetroUI .s-ui-title-1 img {
width:310px
}

.pCateMetroUI .s-ui-title-2,.pCateMetroUI .s-ui-title-2 img {
width:311px
}

.pCateMetroUI .s-ui-title-3,.pCateMetroUI .s-ui-title-3 img {
width:187px
}

.pCateMetroUI .s-ui-title-4,.pCateMetroUI .s-ui-title-4 img {
width:187px
}

.pCateMetroUI .s-ui-title-5,.pCateMetroUI .s-ui-title-5 img {
width:182px
}

.pCateMetroUI .s-ui-title-6,.pCateMetroUI .s-ui-title-6 img {
width:183px
}

.pCateMetroUI .s-ui-title-7,.pCateMetroUI .s-ui-title-7 img {
width:315px
}

.pCateMetroUI .s-ui-title-8,.pCateMetroUI .s-ui-title-8 img {
width:315px
}

.pCateMetroUI .smetroui .ui-link h2 {
font-size:12px;
bottom:2px
}

.pXTabUI {
margin:20px 0;
width:100%;
display:block
}

.xtab-header {
background:url( "../image/slash_bg.png ") repeat-x scroll center bottom transparent;
display:block;
position:relative;
width:100%;
margin:10px 0
}

.xtab-header-title {
display:inline-block;
background:url( "../image/bg_title_arrow.png ") no-repeat scroll center bottom transparent;
padding-bottom:10px
}

.xtab-header-title h2 a,.xtab-header-title h2 span {
font-size:15px;
font-weight:bold;
color:#4f9515;
text-transform:uppercase
}

.xtab-header-title h2 a:hover {
text-decoration:underline
}

.pXTabUI .view-all {
position:absolute;
right:0;
top:0
}

.pXTabUI .view-all a {
font-weight:bold;
font-size:15px;
color:#3d9b1f
}

.pXTabUI .view-all a:hover {
text-decoration:underline;
color:#d00f01
}

.pXTabUI .xtab {
width:245px;
display:block;
height:300px;
position:relative;
float:left;
margin:0 3px 10px 3px
}

.pXTabUI .xtab-ui-1 {
background:#0a9928
}

.pXTabUI .xtab-ui-2 {
background:#dd582f
}

.pXTabUI .xtab-ui-3 {
background:#6a0902
}

.pXTabUI .xtab-ui-4 {
background:#00a200
}

.pXTabUI .xtab-ui-5 {
background:#d91b5c
}

.pXTabUI .xtab-ui-6 {
background:#412987
}

.pXTabUI .xtab-ui-7 {
background:#008eff
}

.pXTabUI .xtab-ui-8 {
background:#8f0098
}

.pXTabUI .xtab-img {
width:245px;
height:264px;
display:block;
position:relative;
overflow:hidden
}

.pXTabUI .xtab-img img {
width:245px;
height:264px;
display:block
}

.pXTabUI .xtab-img .xtab-link {
width:100%;
height:100%;
display:block;
position:absolute;
top:0;
left:0;
background:transparent url(../image/hot_place_bg.png) no-repeat center center
}

.pXTabUI .xtab-percent {
line-height:80px;
text-align:center;
width:80px;
height:80px;
position:absolute;
top:15px;
left:0;
background:transparent url(../image/full_bgr_2.png) no-repeat -410px -328px
}

.pXTabUI .xtab-percent a {
color:#fff;
font-weight:bold;
font-size:20px;
display:block
}

.pXTabUI .xtab-name {
text-align:center;
display:block;
line-height:30px
}

.pXTabUI .xtab-name a {
font-weight:bold;
font-size:15px;
color:#fff;
white-space:nowrap
}

.pXTabUI .xtab:hover .xtab-percent {
background-position:-410px -412px
}

.pXTabUI .xtab .xtab-marked-info {
display:block;
width:60%;
position:absolute;
height:100%;
top:0;
right:-60%;
background:none repeat scroll 0 0 rgba(0,0,0,.5)
}

.pXTabUI .xtab .xtab-marked-info ul {
padding-top:50px
}

.pXTabUI .xtab .xtab-marked-info li {
line-height:40px;
color:#fff;
padding-left:10px
}

.pXTabUI .xtab .xtab-marked-info li span {
font-weight:bold;
color:#0f0;
font-size:15px
}

.pVTabUI {
margin:20px 0;
width:100%;
display:block
}

.vtab-header {
background:url( "../image/slash_bg.png ") repeat-x scroll center bottom transparent;
display:block;
position:relative;
width:96%;
margin:10px 10px
}

.vtab-header-title {
display:inline-block;
background:url( "../image/bg_title_arrow.png ") no-repeat scroll center bottom transparent;
padding-bottom:10px
}

.vtab-header-title h2 a,.vtab-header-title h2 span {
font-size:15px;
font-weight:bold;
color:#4f9515;
text-transform:uppercase
}

.vtab-header-title h2 a:hover {
text-decoration:underline
}

.pVTabUI .view-all {
position:absolute;
right:0;
top:0
}

.pVTabUI .view-all a {
font-weight:bold;
font-size:15px;
color:#3d9b1f
}

.pVTabUI .view-all a:hover {
text-decoration:underline;
color:#d00f01
}

.pVTabUI .vtab {
box-shadow:0 0 3px #5d5d5d;
width:250px;
display:block;
height:250px;
position:relative;
float:left;
margin:5px 3px;
padding:10px 10px 3px 10px;
background:#fff;
border-radius:5px
}

.pVTabUI .vtab:hover {
    box-shadow:0 0 7px #000
}

.pVTabUI .vtab .vtab-img {
overflow-x: hidden;
overflow-y: hidden;
position:relative
}

.pVTabUI .vtab-link {
width:250px;
height:191px;
display:block;
overflow:hidden
}

.pVTabUI .vtab-link-overlay {
display:block;
width:100%;
height:100%;
position:absolute;
top:0;
left:0
}

.pVTabUI .vtab-percent {
width:117px;
height:120px;
position:absolute;
top:0;
left:0;
background:transparent url(../image/percent_alls.png) no-repeat 0 0
}

.pVTabUI .vtab-percent a {
display:block;
width:46px;
height:50px;
position:absolute;
top:25px;
left:20px
}

.pVTabUI .vtab-marked-info {
display:block;
width:50%;
position:absolute;
height:100%;
top:0;
right:-50%;
background:none repeat scroll 0 0 rgba(0,0,0,.5)
}

.pVTabUI .vtab-marked-info li {
line-height:40px;
color:#fff;
padding-left:25px
}

.pVTabUI .vtab-marked-info li span {
font-weight:bold;
color:#0f0;
font-size:15px
}

.pVTabUI .vtab-percent-1 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -5px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-2 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -5px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-3 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -47px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-4 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -47px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-5 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -87px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-6 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -87px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-7 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -1017px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-8 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -1017px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-9 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -1017px;
height:43px;
top:30px
}

.pVTabUI .vtab-percent-10 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -128px
}

.pVTabUI .vtab-percent-11 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -128px
}

.pVTabUI .vtab-percent-12 a {
background:transparent url(../image/percent_alls.png) no-repeat -92px -128px
}

.pVTabUI .vtab-percent-13 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -128px
}

.pVTabUI .vtab-percent-14 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -128px
}

.pVTabUI .vtab-percent-15 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -178px
}

.pVTabUI .vtab-percent-16 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -178px
}

.pVTabUI .vtab-percent-17 a {
background:transparent url(../image/percent_alls.png) no-repeat -92px -178px
}

.pVTabUI .vtab-percent-18 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -178px
}

.pVTabUI .vtab-percent-19 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -178px
}

.pVTabUI .vtab-percent-20 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -228px
}

.pVTabUI .vtab-percent-21 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -228px
}

.pVTabUI .vtab-percent-22 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -228px
}

.pVTabUI .vtab-percent-23 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -228px
}

.pVTabUI .vtab-percent-24 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -228px
}

.pVTabUI .vtab-percent-25 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -277px
}

.pVTabUI .vtab-percent-26 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -277px
}

.pVTabUI .vtab-percent-27 a {
background:transparent url(../image/percent_alls.png) no-repeat -92px -277px
}

.pVTabUI .vtab-percent-28 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -277px
}

.pVTabUI .vtab-percent-29 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -277px
}

.pVTabUI .vtab-percent-30 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -326px
}

.pVTabUI .vtab-percent-31 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -326px
}

.pVTabUI .vtab-percent-32 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -326px
}

.pVTabUI .vtab-percent-33 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -326px
}

.pVTabUI .vtab-percent-34 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -326px
}

.pVTabUI .vtab-percent-35 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -375px
}

.pVTabUI .vtab-percent-36 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -375px
}

.pVTabUI .vtab-percent-37 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -375px
}

.pVTabUI .vtab-percent-38 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -375px
}

.pVTabUI .vtab-percent-39 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -375px
}

.pVTabUI .vtab-percent-40 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -424px
}

.pVTabUI .vtab-percent-41 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -424px
}

.pVTabUI .vtab-percent-42 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -424px
}

.pVTabUI .vtab-percent-43 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -424px
}

.pVTabUI .vtab-percent-44 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -424px
}

.pVTabUI .vtab-percent-45 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -473px
}

.pVTabUI .vtab-percent-46 a {
background:transparent url(../image/percent_alls.png) no-repeat -46px -473px
}

.pVTabUI .vtab-percent-47 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -473px
}

.pVTabUI .vtab-percent-48 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -473px
}

.pVTabUI .vtab-percent-49 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -473px
}

.pVTabUI .vtab-percent-50 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -523px
}

.pVTabUI .vtab-percent-51 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -523px
}

.pVTabUI .vtab-percent-52 a {
background:transparent url(../image/percent_alls.png) no-repeat -94px -523px
}

.pVTabUI .vtab-percent-53 a {
background:transparent url(../image/percent_alls.png) no-repeat -140px -523px
}

.pVTabUI .vtab-percent-54 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -523px
}

.pVTabUI .vtab-percent-55 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -572px
}

.pVTabUI .vtab-percent-56 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -572px
}

.pVTabUI .vtab-percent-57 a {
background:transparent url(../image/percent_alls.png) no-repeat -94px -572px
}

.pVTabUI .vtab-percent-58 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -572px
}

.pVTabUI .vtab-percent-59 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -572px
}

.pVTabUI .vtab-percent-60 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -621px
}

.pVTabUI .vtab-percent-61 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -621px
}

.pVTabUI .vtab-percent-62 a {
background:transparent url(../image/percent_alls.png) no-repeat -94px -621px
}

.pVTabUI .vtab-percent-63 a {
background:transparent url(../image/percent_alls.png) no-repeat -140px -621px
}

.pVTabUI .vtab-percent-64 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -621px
}

.pVTabUI .vtab-percent-65 a {
background:transparent url(../image/percent_alls.png) no-repeat -0px -670px
}

.pVTabUI .vtab-percent-66 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -670px
}

.pVTabUI .vtab-percent-67 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -670px
}

.pVTabUI .vtab-percent-68 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -670px
}

.pVTabUI .vtab-percent-69 a {
background:transparent url(../image/percent_alls.png) no-repeat -188px -670px
}

.pVTabUI .vtab-percent-70 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -721px
}

.pVTabUI .vtab-percent-71 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -721px
}

.pVTabUI .vtab-percent-72 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -721px
}

.pVTabUI .vtab-percent-73 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -721px
}

.pVTabUI .vtab-percent-74 a {
background:transparent url(../image/percent_alls.png) no-repeat -185px -721px
}

.pVTabUI .vtab-percent-75 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -770px
}

.pVTabUI .vtab-percent-76 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -770px
}

.pVTabUI .vtab-percent-77 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -770px
}

.pVTabUI .vtab-percent-78 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -770px
}

.pVTabUI .vtab-percent-79 a {
background:transparent url(../image/percent_alls.png) no-repeat -185px -770px
}

.pVTabUI .vtab-percent-80 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -819px
}

.pVTabUI .vtab-percent-81 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -819px
}

.pVTabUI .vtab-percent-82 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -819px
}

.pVTabUI .vtab-percent-83 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -819px
}

.pVTabUI .vtab-percent-84 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -819px
}

.pVTabUI .vtab-percent-85 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -869px
}

.pVTabUI .vtab-percent-86 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -869px
}

.pVTabUI .vtab-percent-87 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -869px
}

.pVTabUI .vtab-percent-88 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -869px
}

.pVTabUI .vtab-percent-89 a {
background:transparent url(../image/percent_alls.png) no-repeat -186px -869px
}

.pVTabUI .vtab-percent-90 a {
background:transparent url(../image/percent_alls.png) no-repeat 0 -919px
}

.pVTabUI .vtab-percent-91 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -919px
}

.pVTabUI .vtab-percent-92 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -919px
}

.pVTabUI .vtab-percent-93 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -919px
}

.pVTabUI .vtab-percent-94 a {
background:transparent url(../image/percent_alls.png) no-repeat -185px -919px
}

.pVTabUI .vtab-percent-95 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -969px
}

.pVTabUI .vtab-percent-96 a {
background:transparent url(../image/percent_alls.png) no-repeat -47px -969px
}

.pVTabUI .vtab-percent-97 a {
background:transparent url(../image/percent_alls.png) no-repeat -93px -969px
}

.pVTabUI .vtab-percent-98 a {
background:transparent url(../image/percent_alls.png) no-repeat -139px -969px
}

.pVTabUI .vtab-percent-99 a {
background:transparent url(../image/percent_alls.png) no-repeat -185px -969px
}

.pVTabUI .vtab-percent-100 a {
background:transparent url(../image/percent_alls.png) no-repeat -0 -1020px;
width:65px;
height:60px;
top:20px
}

.pVTabUI .vtab-name {
text-align:left;
display:block;
line-height:23px
}

.pVTabUI .vtab-name a {
font-weight:bold;
font-size:12px;
color:green;
text-transform:uppercase
}

.pVTabUI .vtab .vtab-name a:hover {
text-decoration:underline
}

.pVTabUI .vtab-control {
position:absolute;
left:0;
bottom:0;
height:30px;
padding-bottom:5px;
line-height:30px;
display:block;
width:100%
}

.pVTabUI .vtab:hover .vtab-control {
background:#dcf7d2
}

.pVTabUI .vtab-control a {
color:green;
font-size:13px;
font-weight:normal
}

.pVTabUI .vtab-control a:hover {
text-decoration:underline
}

.pVTabUI .vtab-control .vtab-c-cate {
float:left;
background:transparent url(../image/ct_icon_cate_s.png) no-repeat left center;
padding-left:45px
}

.pVTabUI .vtab-control .vtab-c-place {
float:right;
background:transparent url(../image/ct_icon_place_s.png) no-repeat right center;
padding-right:45px
}

.pVTabUI .v-view-more {
margin:10px 0;
text-align:center
}

.pVTabUI .v-view-more a {
text-transform:uppercase;
font-size:15px;
margin-right:5px;
display:inline-block;
color:#fff;
text-align:center;
font-weight:bold;
background:#a21603;
border-radius:5px;
padding:15px 10px
}

.pVTabUI .v-view-more a:hover {
background:#349220
}

.pVTabUI .l_vtab {
width:974px;
box-shadow:0 0 3px #5d5d5d;
display:block;
height:280px;
position:relative;
float:left;
margin:5px 0;
padding:15px;
background:#fff
}

.pVTabUI .l_vtab:hover {
box-shadow:0 0 8px #5d5d5d;
background:#fbfbfb
}

.pVTabUI .l-vtab-img {
float:left;
width:310px;
height:278px
}

.pVTabUI .l-tab-right {
float:right;
width:650px;
display:block;
position:relative;
height:100%
}

.pVTabUI .l-tab-right .vtab-name a {
font-size:15px;
color:green;
text-transform:uppercase;
display:block;
margin-bottom:5px
}

.pVTabUI .l-tab-right .vtab-name a:hover {
text-decoration:underline
}

.pVTabUI .l-tab-right .xFuture_s {
margin:15px 0;
border-top:dashed 1px green;
padding:5px 0 0 0;
max-height:125px;
overflow:hidden
}

.pVTabUI .l-tab-right ul li {
line-height:25px;
margin-bottom:0;
display:list-item;
font-size:13px
}

.pVTabUI .l-tab-right .xList ul li {
padding-left:30px;
background:url(../image/bullet.png) no-repeat left 5px
}

.pVTabUI .ulCount li span {
font-weight:bold;
color:red
}

.pVTabUI .l-tab-right .vtab-control {
background:#cff9a6
}

.pVTabUI .l_vtab .x-remove {
border-radius:5px;
color:#fff;
display:none;
font-weight:bold;
padding:10px;
background:#9d1503;
position:absolute;
right:5px;
top:5px
}

.pVTabUI .l_vtab .x-remove:hover {
background:#1f7414
}

.pVTabUI .l_vtab:hover .x-remove {
display:block
}

#pfooter {
padding:10px 0 35px 0;
display:block;
clear:both;
background:#373737
}

#pfooter .pFooter-menu {
background:#fff;
padding:15px 30px;
border-radius:5px;
position:relative;
margin-top:10px
}

#pfooter a:hover {
text-decoration:underline
}

#pfooter .footer-col {
float:left;
display:block;
margin-right:100px
}

#pfooter .fmn-title {
margin:5px 0 0 0;
text-transform:uppercase;
font-weight:bold
}

#pfooter .fmn-title .fmn-tit1 {
font-size:15px;
color:#50a92e
}

#pfooter .fmn-title .fmn-tit2 {
font-size:12px;
color:#d21001
}

#pfooter .footer-col ul {
margin:5px 0;
padding-left:20px;
line-height:22px;
line-height:25px
}

#pfooter .footer-col ul li {
display:list-item;
list-style-image:url(../image/submenu_bullet.gif)
}

#pfooter .footer-logo {
z-index:5;
position:absolute;
top:15px;
right:20px;
width:130px;
height:120px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat 0 -8px
}

#pfooter .footer-logo .alogo {
width:100%;
height:100%;
display:block;
text-indent:-999px
}

#pfooter .pFooter-adress {
background:#fff;
padding:15px 30px;
border-radius:5px;
margin:10px 0;
line-height:30px;
position:relative
}

#pfooter .pFooter-adress .fb_fanpage {
position:absolute;
right:10px;
top:10px;
width:500px;
height:200px
}

#pfooter .pFooter-support-tech {
background:#fff;
padding:15px 30px;
border-radius:5px;
margin:10px 0;
line-height:30px
}

#pfooter .pFooter-support-tech span {
display:inline-block;
height:75px;
line-height:75px;
padding-left:80px;
margin-right:20px
}

#pfooter .pFooter-support-tech span.fEmail {
background:transparent url(../image/support/mail.png) no-repeat left top
}

#pfooter .pFooter-support-tech span.fYahoo {
background:transparent url(../image/support/yahoo.png) no-repeat left top
}

#pfooter .pFooter-support-tech span.fSkype {
background:transparent url(../image/support/skype.png) no-repeat left top
}

#pfooter .pFooter-support-tech span:hover {
background-position:left 5px
}

.tip-header {
font-size:16px;
line-height:30px;
box-shadow:0 0 8px 8px red;
padding:5px 0;
background:#f1f1f1 url(../image/tip_bg.png) repeat-x left center;
border-radius:5px 5px 0 0;
text-align:center;
color:green;
position:fixed;
z-index:9999;
display:block;
bottom:0;
width:1004px
}

.tip-header a {
font-weight:700;
color:red;
font-size:16px
}

.tip-header a:hover {
color:green;
text-decoration:underline
}

.adsfixed {
position:fixed;
left:0;
top:220px;
display:none
}

.fixedright {
left:auto;
right:0
}

._back_to_top {
background:url( "../image/scroll-to-top.png ") no-repeat scroll left center transparent;
bottom:5px;
display:none;
height:51px;
position:fixed;
right:40px;
width:51px;
z-index:999999
}

.bread-crumb-trail {
width:100%;
display:block;
margin-bottom:10px;
line-height:20px
}

.bread-crumb-trail ul li.bctHome {
background:transparent url(../image/home.png) no-repeat left 2px;
padding-left:17px
}

.bread-crumb-trail ul li {
float:left
}

.bread-crumb-trail ul li a {
padding:0 2px;
text-decoration:none;
font-weight:bold
}

.bread-crumb-trail ul li a:hover {
text-decoration:underline
}

.scrollable {
position:relative;
overflow:hidden;
width:800px;
height:260px
}

.scrollable .scr_items {
width:20000em;
position:absolute;
clear:both
}

.scrollable .scr_items .scr_item {
float:left;
width:800px
}

.src_next,.src_prev {
position:absolute;
right:5px;
top:8px;
background:transparent url(../image/src_next.gif) no-repeat center center;
height:12px;
width:12px;
text-indent:-9999px
}

.src_prev {
right:25px;
background:transparent url(../image/src_prev.gif) no-repeat center center
}

.place-search {
padding-left:5px;
height:50px;
display:block;
background:transparent url(../image/filter_bg.png) repeat-x left center;
margin:0 0 0 0;
border-bottom:solid 1px #fff;
border-radius:5px;
line-height:50px;
font-size:13px;
font-weight:bold
}

.place-s-item {
float:left;
margin-right:10px
}

.place-s-item .active {
border-radius:5px;
background:url(../image/bgmn_m_hover.png) repeat-x left center;
padding:10px;
color:#fff
}

.place-s-item select {
width:130px
}

.place-s-item select option {
padding-left:10px
}

.place-s-item .search-key {
height:25px;
width:250px;
background:#fff;
border-color:#b2b2b2 #ddd #f4f4f4 #ddd;
border-style:solid;
border-width:1px
}

.search-right {
float:right;
margin-right:5px;
position:relative;
padding-right:70px
}

.btn-search {
width:62px;
height:35px;
background:transparent url(../image/full_bgr_2.png) no-repeat -605px -202px;
position:absolute;
top:7px;
right:0;
display:block
}

.btn-search:hover {
background:transparent url(../image/full_bgr_2.png) no-repeat -605px -154px
}

.place-sort {
height:50px;
display:block;
background:#e9e5e5;
border-radius:5px;
line-height:50px;
font-size:13px;
font-weight:bold
}

.place-total-result {
float:left;
width:500px;
padding:0 20px
}

.place-total-result span {
font-weight:bold;
color:#a51703
}

.place-sort-by {
float:left
}

.place-sort-by .ddl-sort-by {
width:250px
}

.place-sort-by .ddl-sort-by option {
padding-left:10px
}

.place-sort-type {
float:right
}

.place-sort-type .list-view {
margin-top:4px;
width:50px;
height:42px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat -540px -330px;
float:left
}

.place-sort-type .grid-view {
margin-right:5px;
margin-top:4px;
width:50px;
height:42px;
display:block;
background:transparent url(../image/full_bgr_2.png) no-repeat -603px -330px;
float:left
}

.place-sort-type .list-view-active,.place-sort-type .list-view:hover {
background-position:-540px -375px
}

.place-sort-type .grid-view-active,.place-sort-type .grid-view:hover {
background-position:-603px -375px
}

.PagerUI {
width:100%;
display:block;
margin:20px 0
}

.PagerUI ul {
display:inline-block;
float:right
}

.PagerUI li {
float:left;
border-radius:5px;
margin:0 5px;
color:#fff;
font-weight:bold;
background:#9d1503
}

.PagerUI li.current,.PagerUI li:hover {
background:#1f7414
}

.PagerUI li a,.PagerUI li.current {
color:#fff;
font-weight:bold;
padding:10px;
display:block
}

.PagerUI li a:hover {
text-decoration:underline
}

.xArticle_container {
background:#fff;
border-radius:5px 5px 5px 5px;
margin:10px 0;
padding:10px;
display:block
}

.xArticle_container .xArticle-title {
padding-bottom:10px;
border-bottom:dashed 1px green;
margin:0 0 10px 0
}

.xArticle_container .xArticle-title h1 {
font-size:16px;
text-transform:uppercase
}

.xArticle-wrap-content {
line-height:25px;
font-size:15px
}

.xArticle-wrap-content img {
max-width:985px
}

.order-succsessfull {
width:657px;
height:260px;
display:block;
background:transparent url(../image/thankyou.png) no-repeat center center
}

.place-header {
margin-top: 20px;
min-height:345px;
display:block;
padding:12px;
background:#fff;
border-radius:5px;
box-shadow:0 5px 12px #000;
margin-bottom:20px;

}
.content-left {
margin-top: 20px;
min-height:345px;
display:block;
padding:12px;
background:#fff;
border-radius:5px;
box-shadow:0 5px 12px #000;
margin-bottom:20px;

}
.place-h-cover {
width:350px;
height:100%;
float:left;
overflow:hidden;
display:block
}

.place-h-info {
width:180px;
height:100%;
float:right;
position:relative
}
.about {
width:100%;
height:100%;
float:right;
position:relative
}
.h-info-title.h-info-title {
border-bottom:1px dashed green;
padding-bottom:10px
}

.h-info-title h1 {
font-size:15px;
color:green;
text-transform:uppercase
}

.h-info-content {
}

.h-info-content ul {
line-height:20px;
font-weight:normal;
font-size:13px
}

.h-info-content ul li {
padding:10px 0 10px 40px
}

.h-info-content ul li.address {
background:transparent url(../image/icon_home.png) no-repeat left center
}

.h-info-content ul li.phone {
background:transparent url(../image/icon_phone.png) no-repeat left center
}

.h-info-content ul li.website {
background:transparent url(../image/icon_web.png) no-repeat left center
}

.h-info-content ul li.email {
background:transparent url(../image/icon_mail.png) no-repeat left center
}

.h-info-content ul li.discount {
background:transparent url(../image/icon_sale.png) no-repeat left center;
color:red;
font-size:13px;
font-weight:bold
}

.h-control-content .your-check {
border-bottom:1px dashed green;
color:green;
font-size:13px;
font-weight:bold;
margin:5px 0;
padding:5px;
text-transform:uppercase
}

.h-control-content .your-check-message {
display:block;
display:none
}

.h-control-content .your-check-message span {
display:block;
padding:5px;
color:#fff
}

.h-control-content .your-check-message .sucess {
background:#428e0f
}

.h-control-content .your-check-message .error {
background:#ff7979
}

.h-control-content ul {
line-height:24px;
font-weight:normal;
font-size:13px
}

.h-control-content ul li {
padding-left:10px;
margin:10px 0;
position:relative
}

.h-control-content ul li .num {
display:inline-block;
width:150px
}

.h-control-content ul li .num label {
font-weight:bold;
color:red
}

.h-control-content ul li .control {
height:24px;
display:inline-block;
width:80px;
padding-left:34px;
margin-left:20px;
cursor:pointer
}

.h-control-content ul li .processing {
position:absolute;
right:10px;
top:5px;
display:none;
background:transparent url(../image/processing.gif) no-repeat left top;
width:20px;
height:20px
}

.h-control-content ul li.love .control {
background:transparent url(../image/full_bgr_2.png) no-repeat -539px -423px
}

.h-control-content ul li.love .control:hover,.h-control-content ul li.love .control-active {
background-position:-539px -447px
}

.h-control-content ul li.wanna-come .control {
background:transparent url(../image/full_bgr_2.png) no-repeat -539px -471px
}

.h-control-content ul li.wanna-come .control:hover,.h-control-content ul li.wanna-come .control-active {
background-position:-539px -495px
}

.h-control-content ul li.came .control {
background:transparent url(../image/full_bgr_2.png) no-repeat -539px -519px
}

.h-control-content ul li.came .control:hover,.h-control-content ul li.came .control-active {
background-position:-539px -543px
}

.h-control-content ul li.discounts .control {
background:transparent url(../image/full_bgr_2.png) no-repeat -539px -567px
}

.h-control-content ul li.discounts .control:hover,.h-control-content ul li.discounts .control-active {
background:transparent url(../image/full_bgr_2.png) no-repeat -539px -591px
}

.h-control-content .fbSharebtn {
background:url(../image/fb_share.gif) no-repeat center center;
display:inline-block;
text-indent:-9999px;
width:67px;
height:18px;
margin-left:-34px
}

.fix-pos-submenu {
height:50px;
display:block
}

.sub-menu {
height:50px;
display:block;
border-radius:5px;
width:1004px;
position:relative;
z-index:998
}

.submenu_nav_wap1 {
border-radius:0 0 0 5px;
background:transparent url(../image/submn_bg_l.png) no-repeat left top;
display:block;
height:100%
}

.submenu_nav_wap2 {
border-radius:0 0 5px 0;
background:transparent url(../image/submn_bg_r.png) no-repeat right top;
display:block;
height:100%
}

.ul_nav_sub_menu {
display:block;
width:980px;
height:100%;
margin:0 auto;
background:transparent url(../image/submn_bg.png) repeat-x left top
}

.ul_nav_sub_menu li {
float:left;
padding:0 2px 0 0;
line-height:50px;
background:transparent url(../image/submn_seperate.png) no-repeat right top
}

.ul_nav_sub_menu li a {
font-weight:bold;
font-size:13px;
color:#fff;
text-transform:uppercase;
display:block;
padding:0 25px
}

.ul_nav_sub_menu li a:hover,.ul_nav_sub_menu li.active a {
background:transparent url(../image/submn_bg_hover.png) repeat-x left center
}

.xcontainer {
margin:20px 0
}

.xcontainer .fixed-box {
width:670px;
float:left;
display:block
}

.xcontainer .itab {
background:#fff;
margin:0 0 20px;
box-shadow:0 0 5px #000;
border-radius:5px;
padding:10px 5px
}

.xcontainer .itab-content {
padding:10px 30px
}

.xcontainer .itab-content img {
max-width:600px
}

.xcontainer .itab-content table {
border:1px;
border-collapse:collapse;
width:100%!important
}

.xcontainer .itab-content table td {
padding:2px
}

.xcontainer .scroll-box {
width:325px;
float:right;
display:block
}

.xtab-header-title h2 {
font-weight:bold;
color:#4f9515;
font-size:15px
}

.xcontainer .x-tab-content {
font-size:15px;
line-height:25px
}

.xcontainer .xList ul li {
background:url(../image/bullet.png) no-repeat left 5px;
padding-left:30px;
line-height:25px;
margin-bottom:5px;
display:list-item;
font-size:15px
}

.scroll-box .scroll-me {
display:block;
background:#fff;
border-radius:5px;
box-shadow:0 0 5px #000
}

.scroll-box .place-h-info {
width:325px;
position:relative
}

.box-comment {
display:block
}

.box-comment .box-comment-control {
margin:5px 0 10px 0;
border-bottom:dashed 1px green;
position:relative
}

.box-comment .box-comment-control .comment-sending {
position:absolute;
left:0;
top:0;
display:block;
width:100%;
height:100%;
background:rgba(255,255,255,.7) url( "../image/loading.gif ") no-repeat center center;
display:none
}

.box-comment .box-comment-avatar {
float:left;
width:70px;
display:block;
height:64px;
background:transparent url(../image/users_comments.png) no-repeat left center
}

.box-comment .box-comment-input-data {
float:right;
display:block;
text-align:right
}

.box-comment .box-comment-input-data textarea {
font-size:12px;
border:solid 1px green;
border-radius:5px;
height:60px;
padding:5px;
width:500px;
display:block;
resize:none
}

.box-comment .box-comment-input-data .comment-btn {
background:#a21603;
border-radius:5px 5px 5px 5px;
color:#fff;
display:inline-block;
font-size:13px;
font-weight:bold;
margin:5px 0;
padding:15px 10px;
text-align:center;
text-transform:uppercase
}

.box-comment .box-comment-input-data .comment-btn:hover {
background:#349220
}

.box-comment .box-comment-list {
display:block;
max-height:700px;
overflow-y:auto;
text-align:center
}

.box-comment .box-comment-list ul li {
display:block;
margin:5px 0;
padding-bottom:5px;
border-bottom:dashed 1px green;
text-align:left
}

.box-comment .box-comment-list ul li.new-item {
background:#fee6e2
}

.box-comment .box-comment-list .member-avartar {
float:left;
width:70px;
display:block;
height:64px;
overflow:hidden
}

.box-comment .box-comment-list .member-comment {
float:left;
display:block;
width:500px
}

.box-comment .box-comment-list .member-comment h2 {
font-size:12px;
color:#a21603;
display:inline-block
}

.box-comment .box-comment-list .member-comment .send-date {
display:inline-block;
color:green;
font-size:11px;
margin:5px
}

.box-comment .box-comment-list .member-comment .comment-content {
line-height:20px
}

.box-comment .box-comment-message {
padding:5px 10px;
color:#fff;
display:none
}

.box-comment .comment-success {
background:#428e0f
}

.box-comment .comment-error {
background:#ff7979
}

.box-comment .load_more_comment {
display:none;
background:#a21603;
border-radius:5px 5px 5px 5px;
color:#fff;
display:inline-block;
font-size:13px;
font-weight:bold;
margin:5px 0;
padding:15px 10px;
text-align:center;
text-transform:uppercase
}

.box-comment .load_more_comment:hover {
background:#349220;
position:relative
}

.xmember-container {
margin:10px 0
}

.xform-title {
margin-top:10px
}

.ximgAvatar {
position:absolute;
right:40px;
top:5px;
width:128px;
height:128px;
border:dashed 1px green;
overflow:hidden
}

.abc {
}

.jspContainer {
overflow:hidden;
position:relative
}

.jspPane {
position:absolute;
width:98%!important
}

.jspVerticalBar {
position:absolute;
top:0;
height:100%;
background:none repeat scroll 0 0 transparent;
right:0;
width:8px
}

.jspHorizontalBar {
position:absolute;
left:0;
background:none repeat scroll 0 0 transparent;
bottom:5px;
height:8px;
width:100%
}

.jspVerticalBar *,.jspHorizontalBar * {
margin:0;
padding:0
}

.jspCap {
display:none
}

.jspHorizontalBar .jspCap {
float:left
}

.jspTrack {
position:relative;
background:none repeat scroll 0 0 transparent
}

.jspDrag {
position:relative;
top:0;
left:0;
cursor:pointer;
background:url(../image/transparent-black.png) repeat scroll 0 0 transparent;
border-radius:4px 4px 4px 4px
}

.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {
float:left;
height:100%
}

.jspArrow {
background:#50506d;
text-indent:-20000px;
display:block;
cursor:pointer
}

.jspArrow.jspDisabled {
cursor:default;
background:#80808d
}

.jspVerticalBar .jspArrow {
height:16px
}

.jspHorizontalBar .jspArrow {
width:16px;
float:left;
height:100%
}

.jspVerticalBar .jspArrow:focus {
outline:none
}

.jspCorner {
background:#eeeef4;
float:left;
height:100%;
display:none
}

* html .jspCorner {
margin:0 -3px 0 0
}

.nivoSlider {
position:relative;
width:100%;
height:auto;
overflow:hidden
}

.nivoSlider img {
position:absolute;
top:0;
left:0;
max-width:none
}

.nivo-main-image {
display:block!important;
position:relative!important;
width:100%!important
}

.nivoSlider a.nivo-imageLink {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:0;
padding:0;
margin:0;
z-index:6;
display:none
}

.nivo-slice {
display:block;
position:absolute;
z-index:5;
height:100%;
top:0
}

.nivo-box {
display:block;
position:absolute;
z-index:5;
overflow:hidden
}

.nivo-box img {
display:block
}

.nivo-caption {
position:absolute;
left:0;
bottom:0;
background:#000;
color:#fff;
width:100%;
z-index:8;
padding:5px 10px;
overflow:hidden;
display:none;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

.nivo-caption p {
padding:5px;
margin:0
}

.nivo-caption a {
display:inline!important
}

.nivo-html-caption {
display:none
}

.nivo-directionNav a {
position:absolute;
top:45%;
z-index:9;
cursor:pointer
}

.nivo-prevNav {
left:0
}

.nivo-nextNav {
right:0
}

.nivo-controlNav {
text-align:center;
padding:15px 0
}

.nivo-controlNav a {
cursor:pointer
}

.nivo-controlNav a.active {
font-weight:bold
}

.theme-default .nivoSlider {
position:relative;
background:transparent url(../../scripts/NivoSlider/themes/default/loading.gif) no-repeat 50% 50%;
margin-bottom:10px;
-webkit-box-shadow:0 1px 5px 0 #4a4a4a;
-moz-box-shadow:0 1px 5px 0 #4a4a4a;
box-shadow:0 1px 5px 0 #4a4a4a
}

.theme-default .nivoSlider img {
position:absolute;
top:0;
left:0;
display:none
}

.theme-default .nivoSlider a {
border:0;
display:block
}

.theme-default .nivo-controlNav {
text-align:center;
padding:20px 0
}

.theme-default .nivo-controlNav a {
display:inline-block;
width:22px;
height:22px;
background:url(../../scripts/NivoSlider/themes/default/bullets.png) no-repeat;
text-indent:-9999px;
border:0;
margin:0 2px
}

.theme-default .nivo-controlNav a.active {
background-position:0 -22px
}

.theme-default .nivo-directionNav a {
display:block;
width:30px;
height:30px;
background:url(../../scripts/NivoSlider/themes/default/arrows.png) no-repeat;
text-indent:-9999px;
border:0;
opacity:0;
-webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
transition:all 200ms ease-in-out
}

.theme-default:hover .nivo-directionNav a {
opacity:1
}

.theme-default a.nivo-nextNav {
background-position:-30px 0;
right:15px
}

.theme-default a.nivo-prevNav {
left:15px
}

.theme-default .nivo-caption {
font-family:Helvetica,Arial,sans-serif
}

.theme-default .nivo-caption a {
color:#fff;
border-bottom:1px dotted #fff
}

.theme-default .nivo-caption a:hover {
color:#fff
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
width:100%
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
width:auto;
height:auto;
background:none;
margin-bottom:5px
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
display:block;
width:120px;
height:auto
}

.nivoSlider {
height:300px
}

.slider-wrapper {
width:1004px;
height:300px;
position:relative
}

.slider-wrapper .theme-default .nivoSlider img {
width:1004px;
height:300px
}

.nivo-controlNav {
bottom:-12px;
padding:0!important;
position:absolute;
right:0;
text-align:center;
z-index:1000
}

.nivo-caption {
background:none repeat scroll 0 0 rgba(0,0,0,.3)!important;
min-height:30px
}

#basic-modal-content {
display:none
}

#simplemodal-overlay {
background-color:#000
}

#simplemodal-container {
background-color:#f9f9f9;
border:4px solid #444;
padding:12px;
border-radius:5px
}

#simplemodal-container .simplemodal-data {
padding:0
}

#simplemodal-container a.modalCloseImg {
background:url(../../scripts/SimpleModal/img/x.png) no-repeat;
width:25px;
height:29px;
display:inline;
z-index:3200;
position:absolute;
top:-15px;
right:-16px;
cursor:pointer
}


/*
*/
.yui-ge {
    
}
.yui-u {
    float: left;
    width: 74%;
}
.yui-r {
    float: left;
    width: 25%;
}
#homepage-region {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgb(255, 255, 255);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 5px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    height: 242px;
    left: 0;
    margin-top: 21px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
#homepage-region-right {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    width: 230px;
    height: 248px;
    z-index: 2;
}
#homepage-region-right .ceebox {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#slider1, #slider2 {
    height: 242px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 705px;
}
#slider0Content, #slider1Content, #slider2Content {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 705px;
}
.slider0Image, .slider1Image, .slider2Image {
    display: none;
    float: left;
    position: relative;
}
.slider0Image span {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 15px;
    opacity: 0.7;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    position: absolute;
    width: 384px;
}
.slider1Image span, .slider2Image span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../image/bg_feature_right.gif");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    position: absolute;
    width: 705px;
}
.slider1Image span p {
    margin-top: 40px;
}
.slider1Image span a {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: rgb(255, 204, 51);
    margin-left: 5px;
}
.slider1Image span a:hover {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
}
.clear {
    clear: both;
}
.slider0Image span strong, .slider1Image span strong, .slider2Image span strong {
    font-size: 14px;
}
.slider1Image span h4 {
    color: rgb(204, 0, 0);
    font-size: 40px;
    font-weight: normal;
    line-height: 45px;
    margin-top: 10px;
}
.top {
    left: 0;
    top: 0;
}
.bottom {
    bottom: 0;
    left: 0;
}
.left {
    height: 242px;
    left: 0;
    top: 0;
    width: 110px !important;
}
.right {
    height: 242px;
    right: 0;
    top: 0;
    width: 200px !important;
}
.offset {
    left: 30px;
}
.offsetRight {
    right: 40px;
}